//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

$ubuntu: "Ubunty", Arial, sans-serif;
$ubuntu-light: "Ubuntu-Light", Arial, sans-serif;
$ubuntu-medium: "Ubuntu-Medium", Arial, sans-serif;
$ubuntu-bold: "Ubuntu-Bold", Arial, sans-serif;
$gagalin: "Gagalin", Arial, sans-serif;
$lifehack: "Lifehack", Arial, sans-serif;

//normalize
@import "misc/normalize";

//media
@import "misc/media";

//setups
@import "misc/mixins";
@import "misc/fonts";
@import "misc/layout";
@import "blocks/section";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/title";
@import "blocks/scroll-down-btn";
@import "blocks/best";
@import "blocks/reviews";
@import "blocks/order";
@import "blocks/form";
@import "blocks/fixed-menu";
@import "blocks/team";
@import "blocks/menu";
@import "blocks/variant";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/burgers";                                                                                                                                                                                                                                                                                                             