.nav {
    margin-right: rem(15px);
    display: flex;

    @include tablets {
        display: none;
        &.active {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin-right: 0;
            background-color: black;
        }
    }
}

.nav__list {
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column;
    }
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: rem(15px);
    font-family: $ubuntu-medium;

    &:after {
        content: "";
        width: rem(4px);
        height: rem(4px);
        background: #fff;
        border-radius: 50%;
        display: block;
        margin-left: rem(15px);

        @include tablets {
            margin: 0;
        }
    }
    


    &:last-child {
        margin-right: 0;
        &:after {
            display: none;

            @include tablets {
                display: block;
            }
        }
    }

    @include tablets {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: rem(20px);
    }
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;

    @include tablets {
        font-size: rem(24px);
        margin-bottom: rem(10px);
    }
}