.best {
    background: url(../img/bg/we-bg.png) center center / cover no-repeat;
}

.best__list {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}


.best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    @include phones {
        display: flex;
        margin-right: 0;
        margin-bottom: rem(50px);
    }
}

.best__picture {
    margin-bottom: rem(34px);
    height: rem(89px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include phones {
        min-width: rem(100px);
        margin-right: rem(27px);
    }
}

.best__meat-icon {
    width: rem(97px);
    height: rem(89px);
}

.best__hand-icon {
    width: rem(73px);
    height: rem(85px);
}

.best__natural-icon {
    width: rem(88px);
    height: rem(75px);
} 



.best__desk {
    
    @include phones {
        text-align: left;
    }
}

.best__title {
    font-size: rem(24px);
    font-family: $lifehack;
    margin-bottom: rem(33px);

    @include phones {
        margin-bottom: rem(25px);
    }
}