.best {
    background: url(../img/bg/we-bg.png) center center / cover no-repeat;
}

.best__list {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}


.best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    @include phones {
        flex-direction: row;
    }
}

.best__picture {
    margin-bottom: rem(34px);
    height: rem(89px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.best__desk {
    
    @include phones {
        text-align: left;
    }
}

.best__title {
    font-size: rem(24px);
    font-family: $lifehack;
    margin-bottom: rem(33px);
}