.footer {
    background: url(../img/bg/footer.png);
    position: absolute;
    width: 100%;
    height: 60px;
    color: black;
    margin-bottom: 0;
    display: flex;
}

.footer__right {
    display: flex;
    width: 50%;
}

.footer__left {
    display: flex;
    width: 50%;
}