.hero {
    background: url(../img/bg/hero-bg.png) center center / cover no-repeat;
    position: relative;
}

.hero__container {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
}

.hero__left,
.hero__right {
    width: 50%;

    @include tablets {
        width: 100%;
    }
}

.hero__right {
    padding-top: rem(115px);

    @include tablets {
        padding-top: 0;
        text-align: center;
    }
}

.hero__content {
    display: flex;
    align-items: center;
    flex: .8;

    @include tablets {
        flex-direction: column;
        padding: 0 23%;
    }

    @include phones {
        padding: 0 12%;
    }
}

.hero__desc {
    padding-top: rem(85px);
    margin-left: rem(20px);

    @include phones {
        font-size: rem(42px);
    }
}

.hero__title {
    font-size: rem(72px);
    font-family: $gagalin;
    color: $yellow;
    margin-bottom: rem(37px);
    line-height: 1.3;
}

.hero__subtitle, .title {
    font-size: rem(65px);
    color: #fff;
    line-height: 1;
    font-family: $lifehack;
}