.how_work {
    background: url(../img/bg/how_work_bg.png) center center / cover no-repeat;
    position: relative;
}

.how_work__container {
    display: flex;
    height: 100%;
    text-align: center;
    position: relative;
}

.how_work__title {
    display: flex;
    font-family: $gagalin;
    font-size: rem(61px);
    color: #2f3234;
    text-align: center;
    margin-left: rem(500px);
    margin-bottom: rem(524px);
}

.video__player {
    position: relative;
    width: 100%;
}

.video__toolbar {
    width: 100%;
    height: rem(35px);
    background-color: #3e3e3e;
    margin-top: rem(-9px);
    display: flex;
}

.duration {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: rem(20px);
}

.duration__img {
    margin-right: rem(4px);
    cursor: pointer;
    height: 0;
    width: 0;
    border: 11px solid transparent;
    border-left-color: #626262;
    border-right-width: 0;
    background: transparent;
    outline: 0;
    transition: all 0.1s ease-out;
    &.active {
        border: 7px solid grey;
        height: 20px;
        border-top: 0;
        border-bottom: 0;
        padding: 1px;
    }
}

.duration__length {
    width: 96%;
    height: rem(7px);
    border-radius: rem(1px);
    background-color: #626262;
    outline: none;
}

.duration__length--other {
    width: 58px;
    height: 4px;
}

.duration__length::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    background: #626262;
    cursor: pointer;
    width: rem(13px);
    height: rem(13px);
    border-radius: 50%;
}

.duration__circle {
    cursor: pointer;
    margin-top: -4px;
    display: block;
}

.duration__circle--high {
    right: 0;
    position: absolute;
}