.s-d-btn {
    width: rem(29px);
    height: rem(14px);
    display: block;
    position: absolute;
    bottom: rem(40px);
    left: 50%;
    transform: translate(-50%);
    border: none;
}

.s-d-btn__arrow-scroll-icon {
    width: rem(29px);
    height: rem(14px);
}