.team {
    background: url(../img/bg/team-bg.png) center center / cover no-repeat;
    align-items: flex-end;
}

.team__container {
    width: 50%;
    height: 100%;

    @include tablets {
        width: 100%;
    }
}

.team__background {
    background: url(../img/bg/t-bg.png) center right / cover no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: rem(97px);

    @include tablets {
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
}

.team__title {
    font-size: rem(72px);
    font-family: 'Gagalin';
    color: $yellow;
    margin-bottom: rem(46px);
}

.team__accordeon {
    color: #fff;

    @include tablets {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
}

.member {
    margin-bottom: rem(35px);

    &:last-child {
        margin-bottom: 0;
    }
    //&--active {
        //.member__desk {
            //height: auto;
        //}
    //}

    @include tablets {
        
    }
}

.member__name:before {
    content: "";
    margin-right: rem(10px);
    width: rem(9px);
    height: rem(7px);
    background: url(../img/icons/icon_1.png);
}

.member__name:after {
    transform: translateY(0) rotate(180deg);
}

.member__name {
    font-size: rem(14px);
    font-family: 'Gagalin';
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: rem(17px);
    text-decoration: none;

    @include tablets {
        justify-content: center;
        font-size: rem(25px);
    }
    
    &:hover {
        .member__name {
            opacity: 1;
            color: #f9b43b;
        }
    }
}

.member__desk {
    display: flex;
    overflow: hidden;
    height: 0;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.member__desk.active {
    height: auto;
}

.member__photo {
    margin-right: rem(17px);

    @include tablets {
        margin-right: 0;
    }
}

.member__text {
    max-width: rem(210px);
    color: #fff;

    @include tablets {
        max-width: rem(340px);
    }
}

.member__position {
    font-weight: bold;
    margin-bottom: rem(10px);
}

