.title--centered {
    width: 390px;
    height: 54px;
    margin-left: 310px;
    margin-bottom: 133px;
    font-family: $gagalin;
    font-size: 72.5px;
    text-align: center;
    color: #2f3234;

}
