.title--centered {
    margin-bottom: rem(55px);
    font-family: $gagalin;
    font-size: rem(72px);
    text-align: center;
    color: #2f3234;
}

.title--order {
    margin-bottom: rem(55px);
    font-family: $gagalin;
    font-size: rem(72px);
    text-align: center;
    color: #f9b43b;
}

.dark_beef_burger_title {
    margin-bottom: rem(160px);
    font-family: $gagalin;
    font-size: rem(72px);
    color: #ffffff;
}

.dark_beef_burger_price {
    font-family: $gagalin;
    font-size: rem(72px);
    color: #e35028;
}


